django
djangorestframework
djangorestframework-simplejwt
pyyaml
requests
django-cors-headers
asgiref
drf-yasg
inflection
packaging
psycopg2-binary
pytz
PyYAML
sqlparse
uritemplate
python-decouple
pillow
django-simple-history
# django-admin-charts
# django-light
# django-schema-graph
celery
django-celery-beat
redis
django-redis
pulp
python-constraint
factory-boy # for test's
gunicorn
django-sms
flower