{% extends 'base/main.html' %} {% block body %}
<form action="" method="post">
  <fieldset>
    <legend>General Info</legend>
    <label> first name </label>
    <label> last name </label>
    <label> surname </label>
    <label> profile pic </label>
    <label> email </label>
    <label>telephone no</label>
  </fieldset>
  <fieldset>
    <legend>Personal Info</legend>
    <label>Marital Status</label>
    <label>name of spouse</label>
    <label>spouse details</label>
    <label>id type</label>
    <label>id no</label>
    <label>religion</label>
    <label>domicile</label>
  </fieldset>
  <fieldset>
    <legend>Emergency contact info</legend>
    <label>emergency_contact_name</label>
    <label>emergency_contact_phone</label>
    <label> emergency_contact_email </label>
    <label>emergency_contact_relationship</label>
    <label>emergency_contact_address</label>
  </fieldset>
</form>
{% endblock %}
